body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #061B01;
}

header {
	font-family: 'Fleur De Leah', cursive;
  background-color: #061B01;
  padding: 2rem;
  text-align: center;
	color: #F3D968;
}

nav {
  background-color: #F3D968;
  padding: 0.5rem;
  text-align: center;
}

nav a {
  color: #061B01;
  margin: 0 1rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
	font-family: 'Fleur De Leah', cursive;
	padding: 2rem;
	text-align: center;
	color: #F3D968;
}

footer {
  text-align: center;
  padding: 1rem;
  color: #F3D968;
}
