html {
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #061B01;
  font-size: 1.1rem;
}

header {
  font-family: 'WindSong', cursive;
  font-size: 2.5rem;
  font-weight: 400;
  background-color: #061B01;
  text-align: center;
  color: #F3D968;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

nav {
  font-size: 1.3rem;
  background-color: #F3D968;
  padding: 0.5rem;
  text-align: center;
}

nav a {
  color: #061B01;
  margin: 0 1rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 1rem;
  text-align: center;
  color: #F3D968;
}

.title h2 {
  margin-bottom: 0.01rem;
}

.title p {
  margin-top: 0.01rem;
}

main h2 {
  font-family: 'WindSong', cursive;
  font-weight: 400;
  font-size: 4rem;
}

.countdown-section h2 {
  margin-bottom: 0.0125rem;
}

main p {
  font-size: 0.9rem;
}

.bridal-party {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 2rem; /* space between columns and rows */
  justify-items: center; /* centers each member horizontally */
  margin: 2rem 0; /* vertical spacing around the section */
}

.member h2 {
  margin-top: 0.5rem;
  font-family: 'WindSong', cursive; /* or Windsong */
  font-size: 1.5rem;
  color: #F3D968;
}

.member p {
  margin-top: 0.25rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #F3D968; /* optional: softer text color */
}

footer {
  text-align: center;
  padding: 1rem;
  color: #F3D968;
}
